* {
  box-sizing: border-box;
}
html {
  background: #eee;
}
body {
  background: #fff;
  margin: 0 auto;
  max-width: 24em;
  font-family: 'Open Sans', sans;
}
img {
  width: 100%;
  height: auto;
}
